<div* ngFor="let post of posts">
    <div class="post">
        <p>{{ post.content }}</p>
        <p><strong>{{ post.author }}</strong></p>
        <button (click)="likePost(post.id)">Like ({{ post.likes }})</button>
        <div>
            <h4>Comments</h4>
            <ul>
                <li *ngFor="let comment of post.comments">
                    {{ comment.author }}: {{ comment.content }}
                </li>
            </ul>
            <input [(ngModel)]="newComment[post.id]" placeholder="Add a comment">
            <button (click)="addComment(post.id, 'User')">Comment</button>
        </div>
    </div>
</div>