<div class="container">
  <div class="create-post-box">
    <h2>Create a New Post</h2>
    <form [formGroup]="createPostForm" (ngSubmit)="createPost()">
      <div class="form-group">
        <input formControlName="title" class="form-control" placeholder="Title">
        <div *ngIf="createPostForm.controls['title'].invalid && createPostForm.controls['title'].touched" class="text-danger">
          Title is required
        </div>
      </div>
      <div class="form-group">
        <textarea formControlName="content" class="form-control" placeholder="What's on your mind?"></textarea>
        <div *ngIf="createPostForm.controls['content'].invalid && createPostForm.controls['content'].touched" class="text-danger">
          Content is required
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>

  <div *ngFor="let post of posts" class="post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p><strong>{{ post.author }}</strong></p>
    <button class="btn btn-outline-primary" (click)="likePost(post.id)">Like ({{ post.likes }})</button>
    <div class="comments">
      <h4>Comments</h4>
      <ul>
        <li *ngFor="let comment of post.comments">
          <strong>{{ comment.username }}:</strong> {{ comment.content }}
        </li>
      </ul>
      <div class="add-comment">
        <input [(ngModel)]="newComment[post.id]" class="form-control" placeholder="Add a comment">
        <button class="btn btn-outline-secondary" (click)="addComment(post.id)">Comment</button>
      </div>
    </div>
  </div>
</div>
