.post {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

button {
    margin-right: 10px;
}

input {
    margin-right: 10px;
}

input {
    width: calc(100% - 90px);
    padding: 5px;
    margin-top: 10px;
}

button:last-of-type {
    padding: 5px 10px;
    margin-top: 10px;
}
